:root {
  --color-white: #ffffff;

  --color-gray-100: #e3e0e5;
  --color-gray-300: #c4c4c4;
  --color-purple-500: #38384b;
  --color-gray-700: #212121;
  --color-gray-800: #0e0e0e;
  --color-black-900: #000000;

  --color-violet-600: #4a0dcc;
  --color-violet-500: #6d0cb7;
  --color-violet-300: #8d0ba3;
  --color-violet-200: #970b9d;
  --color-violet-100: #ff08f67f;

  --color-rose-200: #f56999;
  --color-rose-300: #ff085c;

  --color-red-700: #b91c1c;
  --color-red-600: #dc2626;

  --color-fuchsia-400: #ef7ff9;

  --color-green-100: #e7fff9;

  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-color: var(--color-rose-300);
  --swiper-pagination-bullet-inactive-color: var(--color-rose-200);
  --swiper-pagination-bullet-inactive-opacity: 0.5;

  --swiper-navigation-size: 44px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: var(--color-rose-300);

  --font-size-sm: 16px;
  --font-size-md: 20px;
  --font-size-lg: 26px;
  --font-size-xl: 35px;
  --font-size-2xl: 48px;
  --font-size-3xl: 70px;
}
