.container {
  background-image: url("/bg-image.png");
  background-repeat: no-repeat;
  background-size: 43%;
  background-position: right;
  height: 100vh;
  width: 100%;
  color: white;
}

.content {
  padding-bottom: 5rem;
}
.centerContent {
  width: 39.56rem;
  margin-top: 10rem;
  margin-left: 8rem;
}

.title {
  font-size: var(--font-size-3xl);
  color: var(--color-gray-100);
  line-height: 5rem;
}

.description {
  margin-top: 2.8rem;

  font-size: var(--font-size-md);
  color: var(--color-green-100);
  width: 30rem;
}

.buttonReview {
  display: flex;
  align-items: center;
  border: 0;
  background-color: var(--color-rose-300);
  color: var(--color-white);
  font-size: var(--font-size-md);
  padding: 1rem;
  padding-inline: 2rem;
  border-radius: 1.7rem;
  margin-top: 2.5rem;
  margin-left: 4rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonReview:hover {
  background-color: var(--color-rose-200);
}

.textButton {
  margin-right: 0.5rem;
}

.carousel {
  margin-top: 12.5rem;
  margin-inline-start: 1rem;
}

.titleCarousel {
  text-transform: uppercase;
  color: var(--color-rose-300);
  font-size: var(--font-size-md);
  font-weight: 600;
  margin-left: 2.8rem;
  margin-bottom: 0.8rem;
}

.containerCard {
  width: 100%;
  min-width: 50rem;
  min-height: 12.5rem;
  padding-inline: 2.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
}

.cardTechnologySecondary {
  display: flex;
  justify-content: space-between;
}

.ourServices {
  margin-top: 16rem;
  padding-inline-start: 4rem;
  padding-inline-end: 2rem;
  max-width: 140rem;
}

.ourServicesContent {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
}

.ourServicesTitle {
  display: flex;
  text-align: start;
  align-items: center;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-100);
  font-weight: 700;
  max-width: 37rem;
  line-height: 5rem;
}

.numberData {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 46rem;
  padding-inline: 1rem;
  padding-block: 5rem;
  background: var(--color-violet-600);
  background: linear-gradient(
    47deg,
    var(--color-violet-600) 0%,
    var(--color-rose-300) 100%
  );
  color: var(--color-white);
  font-size: var(--font-size-xl);
  font-weight: bold;
  border-radius: 0.7rem;
}

.numberDataContent {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.clientsNumber {
  font-size: var(--font-size-2xl);
}

.clientsText {
  font-size: var(--font-size-md);
  font-weight: 400;
  color: var(--color-gray-100);
}

.services {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-inline-start: 4rem;
  padding-inline-end: 2rem;
  margin-top: 16rem;
  padding-inline: 4rem;
  max-width: 140rem;
}

.businesses {
  margin-top: 16rem;
  padding-inline-start: 4rem;
  padding-inline-end: 2rem;
}

.businessesContent {
  margin-left: 2.8rem;
}

.businessesText {
  font-size: var(--font-size-2xl);
  color: var(--color-gray-100);
  font-weight: 300;
}

.businessesEmphasis {
  font-weight: 700;
}

.containerCardBusinesses {
  width: 100%;
  min-width: 32rem;
  min-height: 12.5rem;
  margin-top: 4rem;
}

.imageReinvent {
  background-image: url("/reinvent-image.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  margin-top: 17rem;
  height: 85vh;
  width: 100%;
}

.feedbackContainer {
  margin-top: 14rem;
  padding-inline-start: 4rem;
  padding-inline-end: 2rem;
}

.feedbackContent {
  margin-left: 2.8rem;
}

.feedbackTitle {
  color: var(--color-gray-100);
  font-size: var(--font-size-2xl);
  width: 26rem;
}

.feedbackSlider {
  margin-top: 6rem;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1950px) {
  .services {
    margin-inline-start: 1rem;
    padding-inline-end: 1rem;
  }
}
