.container {
  background-color: var(--color-gray-700);
  padding-top: 5rem;
  max-width: 48rem;
  height: 28rem;
  border-radius: 1rem;
  padding-left: 2.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.emphasis {
  color: var(--color-rose-300);
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  line-height: 4rem;
}

.list {
  color: var(--color-gray-100);
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.button {
  display: flex;
  align-items: center;
  background-color: var(--color-rose-300);
  border-radius: 2rem;
  font-size: 1.125rem;
  color: var(--color-white);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  margin-top: 2.5rem;
  border: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-start;
}

.button:hover {
  background-color: var(--color-rose-200);
}

.buttonText {
  margin-right: 0.4rem;
}

@media (max-width: 768px) {
  .container {
    width: clamp(22.5rem, 95%, 25rem);
    height: auto;
    padding: 2rem;
  }
}
