.containerHeader {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 2.2rem 10rem 0 10rem;
}

.leftContent {
  display: flex;
  align-items: center;
}

.containerImg {
  width: 125px;
  margin-right: 3.3rem;
  cursor: pointer;
  flex-shrink: 0;
}

.listLinks {
  display: flex;
  list-style: none;
  font-size: 16px;
  white-space: nowrap;
}

.listItem {
  margin-right: 3rem;
  cursor: pointer;
}

.listItem:hover {
  color: var(--color-rose-200);
}

.rightContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.button {
  background-color: transparent;
  color: var(--color-rose-300);
  font-size: 16px;
  border: 1px solid var(--color-rose-300);
  padding: 0.9rem 2.5rem;
  border-radius: 1.7rem;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.3s ease;
  display: flex;
  z-index: 5;
}

.button:hover {
  color: var(--color-rose-200);
  border: 1px solid var(--color-rose-200);
}
@media (max-width: 1440px) {
  .containerHeader {
    padding: 2.2rem 4rem 0 4rem;
  }

  .containerImg {
    margin-right: 1rem;
  }

  .listLinks {
    font-size: 20px;
    min-width: 0;
  }

  .listItem {
    margin-right: 1rem;
  }

  .button {
    padding: 0.6rem 1.2rem;
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .containerHeader {
    padding: 2rem 2rem 0 2rem;
  }

  .leftContent {
    flex: 1;
    min-width: 0;
  }

  .listLinks {
    overflow-x: auto;
    min-width: 0;
  }

  .button {
    padding: 0.5rem 1rem;
    font-size: 12px;
  }
}

@media (max-width: 875px) {
  .containerHeader {
    padding: 1.5rem 1.5rem 0 1.5rem;
  }

  .leftContent {
    flex: 1;
    min-width: 0;
  }

  .listLinks {
    overflow-x: auto;
    min-width: 0;
  }

  .button {
    padding: 0.5rem 1rem;
    font-size: 12px;
  }
}

@media (max-width: 620px) {
  .containerHeader {
    padding: 2rem 2rem 0 2rem;
  }

  .containerImg {
    width: 100px;
    margin-right: 1rem;
  }

  .leftContent {
    flex: 1;
    min-width: 0;
  }

  .rightContent {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
  }

  .listItem {
    margin-right: 1rem;
  }

  .listLinks {
    overflow-x: auto;
    min-width: 0;
    font-size: 18px;
  }

  .button {
    padding: 0.4rem 0.5rem;
    font-size: 18px;
    margin-left: auto;
  }
}
