.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  padding: 0.2rem;
  border-radius: 1rem;
  margin-bottom: 20rem;
}

.articleImage {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 0.4rem 0.4rem 0 0;
  border: 1px solid var(--color-gray-700);
}

.content {
  background-color: var(--color-gray-700);
  padding: 2.5rem;
  border-radius: 0 0 0.4rem 0.4rem;
}

.sector {
  font-size: var(--font-size-md);
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 0.7rem;
}

.title {
  font-size: var(--font-size-xl);
  font-weight: 700;
  margin-bottom: 2rem;
}

.description {
  font-size: var(--font-size-sm);
  font-weight: 200;
  margin-top: 1rem;
  margin-bottom: 3rem;
  max-height: 5rem;
  overflow: hidden;
}

.authorContainer {
  display: flex;
  justify-content: space-between;
}

.authorContent {
  display: flex;
  flex-direction: column;
}

.author {
  font-size: var(--font-size-md);
  font-weight: 700;
}

.authorPosition {
  color: var(--color-rose-300);
  font-size: var(--font-size-sm);
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 0.2rem;
}

.button {
  display: flex;
  align-items: center;
  border: 0;
  background-color: var(--color-rose-300);
  color: var(--color-white);
  font-size: var(--font-size-sm);
  line-height: 0.4rem;
  padding-inline: 1rem;
  border-radius: 1.7rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--color-rose-200);
}

@media (max-width: 800px) {
  .container {
    width: 95%;
    margin: 0 auto 4rem auto;
    margin-bottom: 1rem;
  }

  .content {
    padding: 1rem;
  }
  .button {
    font-size: var(--font-size-sm);
    padding: 0.3rem 0.5rem;
    border-radius: 1rem;
  }
}
