.carouselContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 50.25rem;
  margin: 0 auto;
  min-height: 100vh;
}

.carousel {
  cursor: grab;
  overflow: hidden;
}

.inner {
  display: flex;
}

.containerCard {
  width: 100%;
  min-width: 50rem;
  min-height: 12.5rem;
  padding-inline: 2.5rem;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
}
