.containerFooter {
  display: flex;
  flex-direction: column;
  padding-block: 3rem;
  padding-inline: 4rem;
  box-shadow: 0 5px 20px var(--color-gray-700);
}

.contentFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.containerImg {
  margin-right: 3.3rem;
  cursor: pointer;
  flex-shrink: 0;
}

.listLinks {
  display: flex;
  list-style: none;
  font-size: var(--font-size-md);
}

.listItem {
  margin-right: 3rem;
  cursor: pointer;
}

.listItem:hover {
  color: var(--color-rose-200);
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-left: 0;
}

.containerContactItem {
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
}

.titleContact {
  color: var(--color-white);
  font-size: var(--font-size-lg);
}

.contactItem {
  color: var(--color-gray-300);
  font-size: var(--font-size-md);
}
@media (max-width: 800px) {
  .contentFooter {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    text-align: center;
  }

  .containerFooter {
    padding-inline: 0;
    white-space: normal;
  }

  .containerImg {
    margin-right: 0;
    margin-bottom: 2px;
    max-width: 35%;
  }

  .listLinks {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    font-size: var(--font-size-xs);
  }

  .listItem {
    margin-right: 0;
  }
  .contact {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0.5rem;
    margin-top: 2rem;
  }

  .containerContactItem {
    margin-right: 0;
    align-items: left;
    text-align: left;
    min-width: 0; /* Permite que os filhos quebrem dentro do flex */
  }

  .titleContact {
    font-size: var(--font-size-sm);
  }

  .contactItem {
    font-size: var(--font-size-xs);
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
  }

  .email {
    word-break: break-word;
    overflow-wrap: anywhere;
  }
}
