.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.imageBanner {
  object-fit: cover;
  border: 3px solid var(--color-gray-300);
  border-radius: 0.2rem;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
}

.title {
  font-size: var(--font-size-xl);
  font-weight: 700;
  margin-bottom: 2.4rem;
  white-space: nowrap;
}

.description {
  font-size: var(--font-size-md);
  margin-bottom: 2.4rem;
  height: auto;
}

.buttonContainer {
  display: flex;
  justify-content: start;
}

.button {
  background-color: transparent;
  border: none;
  color: var(--color-rose-300);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  color: var(--color-rose-200);
}

@media (max-width: 1024px) {
  .imageBanner {
    width: 45%;
    height: auto;
  }

  .content {
    margin-left: 3rem;
  }

  .title {
    font-size: var(--font-size-md);
    margin-bottom: 1rem;
  }

  .description {
    font-size: var(--font-size-xs);
    margin-bottom: 2rem;
    text-align: justify;
  }
}
